pipeline/Copy_SQL_2_Synapse.json
{
	"name": "Copy_SQL_2_Synapse",
	"properties": {
		"activities": [
			{
				"name": "ForEach_yyn",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.cw_items",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy_yyn",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [
								{
									"name": "Source",
									"value": "SalesLT.@{item().source.table}"
								},
								{
									"name": "Destination",
									"value": "SalesLT.@{item().destination.table}"
								}
							],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"partitionOption": "None"
								},
								"sink": {
									"type": "SqlDWSink",
									"allowPolyBase": true,
									"polyBaseSettings": {
										"rejectValue": 0,
										"rejectType": "value",
										"useTypeDefault": true
									},
									"tableOption": "autoCreate"
								},
								"enableStaging": true,
								"stagingSettings": {
									"linkedServiceName": {
										"referenceName": "StorageAccount",
										"type": "LinkedServiceReference"
									},
									"path": "phonecalls"
								}
							},
							"inputs": [
								{
									"referenceName": "SourceDataset_yyn",
									"type": "DatasetReference",
									"parameters": {
										"cw_table": "@item().source.table"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DestinationDataset_yyn",
									"type": "DatasetReference",
									"parameters": {
										"cw_table": "@item().destination.table"
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "Data flow1",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "ForEach_yyn",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "1.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "dataflow1",
						"type": "DataFlowReference"
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "Fine"
				}
			}
		],
		"parameters": {
			"cw_items": {
				"type": "Array",
				"defaultValue": [
					{
						"source": {
							"table": "SalesOrderDetail"
						},
						"destination": {
							"table": "SalesOrderDetail"
						}
					},
					{
						"source": {
							"table": "SalesOrderHeader"
						},
						"destination": {
							"table": "SalesOrderHeader"
						}
					}
				]
			}
		},
		"annotations": [],
		"lastPublishTime": "2021-06-16T09:22:03Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}